.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1180px;
  margin: 40px auto;
}
.footer-input input {
  outline: none;
  padding: 5px;
  border-radius: 2px;
  border: none;
  margin-right: 5px;
}
.footer-input button {
  border: none;
  height: 26px;
  color: rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
  border-radius: 2px;
}
.footer-input {
  text-align: left;
}
.footer-input div {
  display: flex;
  align-items: center;
}
.footer-ext-links img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.footer > a > img {
  width: 276px;
  height: 89px;
}
.terms-conditions {
  text-decoration: none;
  transition: all 0.3s;
  color: #977039;
}
.terms-conditions:hover {
  color: #caa67a;
}
@media screen and (max-width: 1200px) {
  .footer {
    width: 950px;
  }
}
@media screen and (max-width: 990px) {
  .footer {
    width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    width: 95%;
    align-items: center;
    flex-direction: column;
  }
  .footer > div {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
  }
}
